
body {
  display: flex;
}

button {
  background-color: white;
  border          : none;
}

#input {
  margin-right: 20px;
  margin-top:100px;
} 

#doc-text {
  /* 8.5" x 11" proportions */
  width: 34em;
  height: 44em;
  resize: none;
  overflow: auto;
  border: 1px solid black;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
}

.annotation {
  /* Highlight color */
  background-color: yellow;
}

#paste-btn {
  /* Align Left */
  display: inline-block
}

#clear-btn {
  /* Align Left */
  display: inline-block
}

#submit-btn {
  /* Align Right */
  float: right;
}

#doc-info {
  flex: 1;
}  

#title {
  width           : 500px;
  height          : 50px;
  background-color: white;
  text-align      : center;
  margin-top: 100px;
}

.container {
  width           : 500px;
  height          : 500px;
  background-color: white;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

#canvas {
  width           : 95%;
  height          : 95%;
  background-color: #f0f0f0;
  border          : 1px solid lightgray;
  padding         : 5px;
  overflow        : auto;
}

#canvas .row {
  display         : flex;
  padding         : inline;
  justify-content : space-around;
  flex-wrap       : wrap;
}

#canvas .row .entry {
  width           : fit-content;
  height          : fit-content;
  background-color: white;
  border          : 1px solid lightgray;
  padding         : 3px 1px 0px 1px; /* Up, Right, Down, Left */
  white-space     : nowrap;
  text-align      : center;
}

#canvas .row .doc-generated {
  background-color: lightblue;
}

#def-tbl {

  width: 500px;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto min-content auto;
  grid-gap: 2px;
  padding: 3px;
  display: none;
  border: 1px solid black;
  
}

#def-tbl-head {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: gray;
  padding: inherit;
}

#def-tbl-cat {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  height: 100%;
  width: auto;
  display: flex;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#def-tbl-phrase {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  height: 100%;
  width: auto;
  display: flex;
  background-color: rgb(241, 241, 241);
  justify-content: center;
  align-items: center;
}

#def-tbl-def {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  background-color: lightgray;
  padding: inherit;
  text-wrap: wrap;
}

